* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #0f2027, #203a43);
  color: white;
}

.app {
  max-width: 700px;
  margin: auto;
  padding: 30px;
}

header {
  text-align: center;
}

header img {
  width: 90px;
  margin-bottom: 10px;
}

.progress {
  width: 100%;
  height: 10px;
  background: #333;
  border-radius: 10px;
  margin: 20px 0;
}

#progress-bar {
  height: 100%;
  width: 0%;
  background: #00ff99;
  border-radius: 10px;
  transition: 0.4s;
}

.question {
  font-size: 22px;
  margin-bottom: 20px;
}

.option {
  background: #1e1e1e;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.option:hover {
  background: #00ff99;
  color: black;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  background: #7c5cff;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}
